@model turkeytime.Models.FoodItem

@{
    ViewData["Title"] = "Edit Food Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Food Item</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FoodItemName" class="control-label"></label>
                <input asp-for="FoodItemName" class="form-control" />
                <span asp-validation-for="FoodItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person" class="control-label"></label>
                <input asp-for="Person" class="form-control" />
                <span asp-validation-for="Person" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsVegan" /> @Html.DisplayNameFor(model => model.IsVegan)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsGlutenFree" /> @Html.DisplayNameFor(model => model.IsGlutenFree)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
